#pageWorks {

    // Content

    .professionalWork {
        margin-top: 15rem;
    }
    
    .contentFlexContainer {
        display: flex;
        margin-bottom: 8rem;
    }

    .contentImage {
        width: calc(40% - 5rem);
        margin-right: 5rem;
    }

    .contentDescription {
        width: 60%;
    }


    // Carousell

    .carousel {
        background: #EEE;
    }
    
    .carousel-cell {
        width: 66%;
        height: 500px;
        margin-right: 10px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: carousel-cell;
    }
    
    .overlayParent {
        position: relative;

        .overlay {
            background: rgba(44, 48, 81, 0.9);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            transition: all 0.4s ease-in-out 0s;
        }

        &:hover .overlay,
        &:focus-within .overlay {
            opacity: 1;
        }

        .overlayText {
            color: $white;
        }

    }

    // /* cell number */
    // .carousel-cell:before {
    //     display: block;
    //     text-align: center;
    //     content: counter(carousel-cell);
    //     line-height: 200px;
    //     font-size: 80px;
    //     color: white;
    // }
}