@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
button {
  font-family: "Lato", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

input,
textarea {
  background: none;
  border: none;
}

button {
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Arvo", serif;
  font-size: 5rem;
  color: #FFFFFF;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  color: #FFFFFF;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  color: #769fcd;
  text-shadow: 2px 3px #FFFFFF, 4px 5px #d6e6f2;
  text-align: center;
  margin-bottom: 6rem;
}

h3.altH3 {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #769fcd;
  text-shadow: 2px 3px #FFFFFF, 4px 5px #d6e6f2;
}

h4 {
  font-family: "Arvo", serif;
  font-size: 3rem;
  color: #769fcd;
  font-weight: 700;
  padding-bottom: 2rem;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #769fcd;
  padding-bottom: 2rem;
}

h5.altH5 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  padding-bottom: 2rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #696969;
  padding-bottom: 2rem;
}

section {
  padding: 100px 0;
}

aside {
  background-color: #d6e6f2;
  padding: 1.5rem;
}

aside p {
  padding-bottom: 0rem;
}

a {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #b9d7ea;
}

a.liveLink {
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  padding: 10px 20px;
  margin: 0 20px 20px 0;
  background-color: #769fcd;
  border-radius: 5px;
  box-shadow: 2px 2px #FFFFFF, 4px 4px #d6e6f2;
}
a.liveLink:hover {
  background-color: #5185bf;
}
a.liveLink:focus {
  border: 2px solid #3b6ca2;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.flexItem {
  display: flex;
  width: calc(50% - 2rem);
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 1rem 2rem;
}

.alignTxCen {
  text-align: center;
}

.alignTxLeft {
  text-align: left;
}

.mtb20 {
  margin: 2rem 0;
}

.mt10 {
  margin-top: 1rem;
}

.mt20 {
  margin-top: 2rem;
}

button,
.buttonLink {
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  background-color: #769fcd;
  padding: 10px 20px;
  border-radius: 5px;
  border: double 4px #FFFFFF;
}
button:hover,
.buttonLink:hover {
  background-color: #5185bf;
}
button:focus,
.buttonLink:focus {
  border: solid 2px #769fcd;
}

.video {
  max-width: 90%;
  width: 60rem;
  margin: 2rem auto;
  border-radius: 10px;
  border: 0.5rem dashed #769fcd;
}

nav {
  background-color: #FFFFFF;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 3px solid #d6e6f2;
  opacity: 0.9;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

img.logo {
  width: 50px;
  height: 50px;
}

.navContainer li:first-of-type {
  flex-grow: 1;
}

.navContainer a {
  position: relative;
  margin-right: 30px;
  color: #769fcd;
}
.navContainer a::after {
  background-color: #769fcd;
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  bottom: -50%;
  transition: width 0.35s ease 0s;
  position: absolute;
}
.navContainer a:hover::after {
  width: 100%;
}
.navContainer a:focus {
  color: #696969;
}

footer p {
  text-align: center;
  padding: 2rem 0;
}

.burger {
  display: none;
  text-align: right;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #769fcd;
  box-shadow: 0.5px 1px #FFFFFF, 2px 3px #d6e6f2;
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.headerIndex {
  background-image: url(../assets/main/background.jpg);
  background-size: cover;
  height: 100vh;
}

.headerContainer {
  display: flex;
  padding-top: 100px;
  height: 100%;
}

.headerTitle {
  width: 50%;
  padding-top: 300px;
  z-index: 1;
}

.headerImage {
  width: 50%;
}

.type {
  color: #769fcd;
}

.butterfly {
  padding-top: 50px;
  width: 40%;
}

.butterflyFlip {
  padding-top: 400px;
  width: 20%;
}

.blueHighlight {
  color: #769fcd;
}

.aboutContainer {
  display: flex;
}

.aboutImage {
  width: calc(30% - 50px);
  margin: 0 50px 50px 0;
}

.aboutTitle {
  width: 70%;
}

.profileImage {
  border-radius: 5px;
  box-shadow: -3px 3px #FFFFFF, -10px 10px #d6e6f2;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.projectImage {
  width: calc(40% - 5rem);
}

.projectDescription {
  width: 60%;
}

.projectDescription:nth-child(1) {
  text-align: right;
  margin-right: 5rem;
}

.work,
.contact {
  background-color: #e9f2f8;
}

.workImage {
  border-radius: 5px;
  box-shadow: -3px 3px #FFFFFF, -10px 10px #d6e6f2;
}
.workImage:hover, .workImage:focus {
  box-shadow: -3px 3px #FFFFFF, -10px 10px #9cc3e0;
}

.workDescription {
  position: absolute;
  top: 60%;
}

.workDescription p {
  text-align: center;
}

.skillFlexContainer {
  display: flex;
  flex-wrap: wrap;
}

.skillItem {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

i {
  font-size: 5rem;
  color: #769fcd;
  text-shadow: 2px 3px #FFFFFF, 4px 5px #d6e6f2;
  padding-bottom: 1rem;
}

.iconImage {
  height: 70%;
  width: 5rem;
  filter: drop-shadow(2px 3px #FFFFFF) drop-shadow(2px 3px #d6e6f2);
}

.contactContainer,
.formDetails {
  display: flex;
  justify-content: space-between;
}

.contactNoteContainer {
  width: calc(50% - 10rem);
  margin-right: 10rem;
}

.formContainer {
  width: 50%;
}

.formName {
  margin-right: 20px;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #9c9c9c;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0 10px 10px;
}

input {
  border-bottom: 2px solid #b9d7ea;
}

textarea {
  border: 2px solid #b9d7ea;
  height: 20rem;
  word-wrap: break-word;
  overflow: hidden;
  resize: vertical;
}

.socialMediaContainer {
  display: flex;
  margin-bottom: 3rem;
}
.socialMediaContainer li {
  margin-right: 3rem;
}

i.socialMedia {
  font-size: 3rem;
}
i.socialMedia:hover, i.socialMedia:focus {
  transform: scale(1.2);
}

.submitButton {
  width: 100%;
  text-align: center;
}

section.company {
  padding: 100px 0 0 0;
}

section.tasks {
  padding: 0;
}

.contentBrief {
  padding: 10px;
  background-color: #FFFFFF;
}

.accordion {
  max-width: 100%;
  padding: 15px 0px;
}

.accordion .accordionBox {
  position: relative;
  margin: 10px 0px;
}

.accordion .accordionBox .label {
  position: relative;
  background-color: #769fcd;
  cursor: pointer;
  padding: 15px;
}
.accordion .accordionBox .label:hover {
  background-color: #3b6ca2;
}

.accordion .accordionBox .label p {
  color: #FFFFFF;
  font-size: 1.6rem;
}

.accordion .accordionBox .label::before {
  content: "+";
  position: absolute;
  top: 25%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 4rem;
  color: #769fcd;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion .accordionBox.active .label::before {
  content: "–";
}

.accordion .accordionBox .content {
  position: relative;
  background: #d6e6f2;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s;
  padding: 0px 15px;
}

.accordion .accordionBox.active .content {
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
}

.hlImage {
  max-width: 90%;
}

.pHeader {
  padding-bottom: 0rem;
}

@media (max-width: 1300px) {
  .butterFly {
    padding-top: 30px;
  }
  .butterflyFlip {
    padding-top: 350px;
  }
}
@media (max-width: 1100px) {
  .headerTitle {
    width: 60%;
  }
  .headerImage {
    width: 40%;
  }
  .butterflyFlip {
    padding-top: 300px;
  }
}
@media (max-width: 940px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .flexItem {
    width: 100%;
  }
  .hlImage {
    max-width: 100%;
  }
  h4.workTitle {
    font-size: 2.2rem;
    padding-bottom: 0px;
  }
  .workDescription {
    position: absolute;
    top: 55%;
  }
}
@media (max-width: 768px) {
  .headerContainer {
    display: block;
  }
  .aboutContainer,
  .projectContainer,
  .contactContainer {
    flex-direction: column;
    align-items: center;
  }
  .headerTitle,
  .formContainer,
  .contactNoteContainer,
  .aboutTitle,
  .projectDescription,
  .projectDescription:nth-child(1) {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .headerImage {
    position: absolute;
    bottom: 50%;
    left: 50%;
  }
  .aboutImage {
    width: 50%;
    margin: 0 0 50px 0;
  }
  .projectContainer:nth-child(2n+1) {
    flex-direction: column-reverse;
  }
  .projectImage {
    width: 80%;
    margin-bottom: 2rem;
  }
  .contactNoteContainer {
    margin-bottom: 3rem;
  }
  .socialMediaContainer {
    justify-content: center;
  }
  .socialMediaContainer li {
    margin: 0 1.5rem;
  }
  .burgerContainer {
    display: flex;
    justify-content: right;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .navContainer {
    display: none;
    width: 100%;
    padding: 10px 0;
  }
  .navContainer li:first-of-type {
    display: none;
  }
  .navContainer li {
    text-align: right;
  }
  .navContainer a {
    margin: auto;
  }
  .navContainer a:hover {
    color: #696969;
  }
  .navContainer a::after {
    content: none;
  }
  .active {
    display: block;
  }
}
@media (max-width: 480px) {
  section {
    padding: 50px 0;
  }
  h2 {
    font-size: 2.5rem;
  }
  .butterflyFlip {
    width: 50%;
  }
  .skillItem {
    width: 50%;
  }
  .formDetails {
    display: block;
  }
  .formName,
  .formEmail {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 360px) {
  .headerTitle {
    padding-top: 250px;
  }
}